
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
    text-decoration: none;
}

@font-face {
    font-family: 'rosettaicons';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/rosetta-icons-Regular.eot');
    src: url('fonts/rosetta-icons-Regular.eot?#iefix') format('eot'),
    url('fonts/rosetta-icons-Regular.woff') format('woff'),
    url('fonts/rosetta-icons-Regular.ttf') format('truetype');
}

html {
	width:100%;
	height:100%;
}
body {
	width:100%;
	height:100%;
	margin: 0px;
    background: #F5F8FA;
}
#bodyWrapper {
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow:hidden;
}

	#bodyContainer {
		display: table-cell;
		vertical-align: middle;
		width:100%;
		height:100%;
		
	}
    
#topLogo {
    height: 300px;
    position: fixed;
    width: 100%;
    background: white;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    overflow: hidden;
}
#topLogo img {
    position: absolute;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    bottom: 20px;
}
#tweetsContainer {
    width:590px;
    margin: 0 auto;
    
    margin-top:150px;
}
    .tweet {
      background-color: #fff;
      border: 1px solid #e1e8ed;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      line-height: 1.375em;
      padding: 13px 15px 15px;
      position: relative;
      margin-bottom: -1px;
      font-family: Arial,sans-serif;
      z-index:1;
    }
    .tweet:first-child {
        border-radius: 5px 5px 0px 0px;
    }
    .tweet:last-child {
        border-radius: 0px 0px 5px 5px;
        margin-bottom:150px;
    }

    .tweet:hover {
        border:1px solid #aeaeae;
        z-index:2;
    }
        .ProfileTweet-header {
            color: #8899a6;
            font-size: 12px;
            margin-top: -3px;
            margin-left: 10px;
        }
        
        .ProfileTweet-header p {
            margin:0px;
        }
        .ProfileTweet-header p:first-child {
            
        }
        .ProfileTweet-header p:last-child {
            line-height:26px;
        }
            .ProfileTweet-headerT1 {
                color:black;
                font-weight:bold;
                font-size:16px;
            }
            .ProfileTweet-headerT2 {
                
            }
        .ProfileTweet-contents {
            padding-left:10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
        }
        .ProfileTweet-controls {

        }
        .ProfileTweet-controls a {
            color: #ccd6dd;
            display: inline-block;
            font-size: 16px;
            line-height: 1;
            position: relative;
            top: 4px;
            padding: 0 2px;
            margin:0px 20px;
        }
        a.button-favorite:hover {
            color:orange;
        }
        a.button-reply:hover {
            color:black;
        }
        a.button-retweet:hover {
            color:green;
        }
        .ProfileTweet-controls a > span {

        }
        .icon {
            margin-right:10px;
            background: transparent;
            display: inline-block;
            font-style: normal;
            vertical-align: baseline;
        }
        .icon:before {
            display: block;
            font-family: "rosettaicons";
            font-weight: normal;
            font-style: normal;
            text-align: center;
            -webkit-font-smoothing: antialiased;
        }
        .icon-reply {

        }
        
        .icon-reply:before {
            content: "\f151";

        }
        
        .icon-retweet:before {
            content: "\f152";
        }
        
        .icon-favorite:before {
            content: "\f147";
        }


#menu ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
#menu ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#menu ul li:hover {
  background: #555;
  color: #fff;
}
#menu ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  z-index:999;
}
#menu ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
#menu ul li ul li:hover { background: #666; }
#menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

#replyTweet, #confirm, #message {
  width: 590px;
  margin: 0 auto;
  background: white;
  padding: 10px 20px 20px 20px;
  border-radius: 2px;
  border: 1px solid #eaeaea;
}
#replyTitle, #confirmMessage, #messageConten t{
  font-size: 16px;
  font-family: 'Arial';
  font-weight: bold;
}
#confirmTweet {
  margin-bottom: 20px;
}
#replyForm textarea {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #aeaeae;
  padding: 10px;
  border-radius:2px;
  margin-bottom:10px;
}
#replyForm input[type="submit"] {
  padding: 8px 70px;
}

.btn-green {
  -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
  box-shadow:inset 0px 1px 0px 0px #d9fbbe;
  background-color:#b8e356;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #83c41a;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #86ae47;
}
.btn-green:hover {
  background-color:#a5cc52;
}
.btn-green:active {
  position:relative;
  top:1px;
}

.btn-gray {
  -moz-box-shadow:inset 0px 1px 0px 0px #e6e6e6;
  -webkit-box-shadow:inset 0px 1px 0px 0px #e6e6e6;
  box-shadow:inset 0px 1px 0px 0px #e6e6e6;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d9d9d9), color-stop(1, #c7c7c7));
  background:-moz-linear-gradient(top, #d9d9d9 5%, #c7c7c7 100%);
  background:-webkit-linear-gradient(top, #d9d9d9 5%, #c7c7c7 100%);
  background:-o-linear-gradient(top, #d9d9d9 5%, #c7c7c7 100%);
  background:-ms-linear-gradient(top, #d9d9d9 5%, #c7c7c7 100%);
  background:linear-gradient(to bottom, #d9d9d9 5%, #c7c7c7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='#c7c7c7',GradientType=0);
  background-color:#d9d9d9;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #9c9c9c;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #616161;
}
.btn-gray:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c7c7c7), color-stop(1, #d9d9d9));
  background:-moz-linear-gradient(top, #c7c7c7 5%, #d9d9d9 100%);
  background:-webkit-linear-gradient(top, #c7c7c7 5%, #d9d9d9 100%);
  background:-o-linear-gradient(top, #c7c7c7 5%, #d9d9d9 100%);
  background:-ms-linear-gradient(top, #c7c7c7 5%, #d9d9d9 100%);
  background:linear-gradient(to bottom, #c7c7c7 5%, #d9d9d9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c7c7', endColorstr='#d9d9d9',GradientType=0);
  background-color:#c7c7c7;
}
.btn-gray:active {
  position:relative;
  top:1px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
