	{% set screen_name = tweet.user.screen_name %}
	{% set name = tweet.user.screen_name %}
	{% set main = tweet.user.screen_name %}
	{% set text = tweet.text %}
	{% set retweet_count = tweet.retweet_count %}
	{% set favorite_count = tweet.favorite_count %}
	{% if tweet.retweeted_status|length > 0 %}
		{% set screen_name = tweet.retweeted_status.user.screen_name %}
		{% set name = tweet.retweeted_status.user.screen_name %}
		{% set retweet_count = tweet.retweeted_status.retweet_count %}
		{% set favorite_count = tweet.retweeted_status.favorite_count %}
		{% set text = tweet.retweeted_status.text %}
	{% endif %}
<div id="confirm">
	<div id="confirmMessage">
		<p>{{ message }}</p>
	</div>
	<div id="confirmTweet">
		<div class='tweet' style='margin-bottom:0px'>
			<div class='ProfileTweet-header'>
				{% if tweet.retweeted_status|length > 0 %}
					<p>@{{ main }} retweeted</p>
				{% endif %}
				<p><span class='ProfileTweet-headerT1'>{{ name }}</span> <span class=\'ProfileTweet-headerT2\'>@{{ screen_name }}</span></p>
			</div>
			<div class='ProfileTweet-contents'>
				{{ text }}
			</div>
		</div>
	</div>
	<div id="confirmControls">
		<p>
			<a class="confirmButton yes btn-green" href="?action={{ action }}&confirm=1&id={{ tweet.id }}">YES</a>
			<a class="confirmButton no btn-gray" href="./">NO</a>
		</p>
	</div>
</div>