<div id="menu">
  <ul>
    <li>Results
      <ul>
        <a href="?count=10"><li>10</li></a>
        <a href="?count=20"><li>20</li></a>
        <a href="?count=50"><li>50</li></a>
        <a href="?count=100"><li>100</li></a>
        <a href="?count=200"><li>200</li></a>
      </ul>
    </li>
  </ul>
</div>