	{% set screen_name = tweet.user.screen_name %}
	{% set name = tweet.user.screen_name %}
	{% set main = tweet.user.screen_name %}
	{% set text = tweet.text %}
	{% set retweet_count = tweet.retweet_count %}
	{% set favorite_count = tweet.favorite_count %}
	{% if tweet.retweeted_status|length > 0 %}
		{% set screen_name = tweet.retweeted_status.user.screen_name %}
		{% set name = tweet.retweeted_status.user.screen_name %}
		{% set retweet_count = tweet.retweeted_status.retweet_count %}
		{% set favorite_count = tweet.retweeted_status.favorite_count %}
		{% set text = tweet.retweeted_status.text %}
	{% endif %}
<div id="replyTweet">
	<div id="replyTitle">
		<p>Reply to tweet</p>
	</div>
	<div id="confirmTweet">
		<div class='tweet' style='margin-bottom:0px'>
			<div class='ProfileTweet-header'>
				{% if tweet.retweeted_status|length > 0 %}
					<p>@{{ main }} retweeted</p>
				{% endif %}
				<p><span class='ProfileTweet-headerT1'>{{ name }}</span> <span class=\'ProfileTweet-headerT2\'>@{{ screen_name }}</span></p>
			</div>
			<div class='ProfileTweet-contents'>
				{{ text }}
			</div>
		</div>
	</div>
	<div id="replyForm">
		<form action='?action=reply&confirm=1&id={{ tweet.id }}' method='GET'>
			<textarea name='text'></textarea>
			<input type='hidden' name='id' value='{{ tweet.id }}'>
			<input type='hidden' name='confirm' value='1'>
			<input type='hidden' name='action' value='reply'>
			<input class='btn-green' type='submit' value='SEND'>
			<a class='btn-gray' href='./'>BACK</a>
		</form>
	</div>
</div>