<div id="tweetsContainer">
{% include "menu.html" %}
{% for tweet in tweets %}
	{% set screen_name = tweet.user.screen_name %}
	{% set name = tweet.user.screen_name %}
	{% set main = tweet.user.screen_name %}
	{% set text = tweet.text %}
	{% set retweet_count = tweet.retweet_count %}
	{% set favorite_count = tweet.favorite_count %}
	{% if tweet.retweeted_status|length > 0 %}
		{% set screen_name = tweet.retweeted_status.user.screen_name %}
		{% set name = tweet.retweeted_status.user.screen_name %}
		{% set retweet_count = tweet.retweeted_status.retweet_count %}
		{% set favorite_count = tweet.retweeted_status.favorite_count %}
		{% set text = tweet.retweeted_status.text %}
	{% endif %}
	<div class='tweet'>
		<div class='ProfileTweet-header'>
			{% if tweet.retweeted_status|length > 0 %}
				<p>@{{ main }} retweeted</p>
			{% endif %}
			<p><span class='ProfileTweet-headerT1'>{{ name }}</span> <span class=\'ProfileTweet-headerT2\'>@{{ screen_name }}</span></p>
		</div>
		<div class='ProfileTweet-contents'>
			{{ text }}
		</div>
		<div class='ProfileTweet-controls'>
			<a class='button-reply' href='?action=reply&id={{ tweet.id }}'>
				<span class='icon icon-reply'></span>
			</a>
			<a class='button-retweet' href='?action=retweet&id={{ tweet.id }}'>
				<span class='icon icon-retweet'></span><span>{{ retweet_count }}</span>
			</a>
			<a class='button-favorite' href='?action=favorite&id={{ tweet.id }}'>
				<span class='icon icon-favorite'></span><span>{{ favorite_count }}</span>
			</a>
		</div>
	</div>
{% endfor %}
</div>